*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}   
 
#navbar{
    height: 80px;
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
   
 }
#navbar img{
    height: 60px;
    width: 120px;
    z-index: 1;
    color: red;
    
}
#bgmain{ 
    background-image: url(background.jpg);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   flex-direction: column;
   padding: 0px 80px 0px 80px ;
   
}
#back{
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 70%;
   
}
   
#text{
    font-size: larger;
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
    z-index: 1;
    color: white;
   

}
#text2{
    z-index: 1;
    color: white;
    font-family:Arial, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
    
#impbtn{
    display: flex;
    gap: 5px;
}
#navbar select{
   height: 30px;
   width: 100px;
   background-color: rgba(0, 0, 0, 0);
   border-color: 1px solid white;
   border-radius: 5px;
   color: white;
}
#nav-btn .btn1{
    height: 30px;
    border: none;
    width: 60px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#impbtn #inpbtn{
    width: 200px;
    height: 40px;
    border-radius:5px;
   border: 1px solid white;
   background-color: rgba(0, 0, 0, 0.536);
   padding: 0%;
   padding-left: 10px;
   color: white;
   
}
#impbtn #btn2{
    border-radius: 5px;
    border: none;
    width: 80px;
    background-color: red;
    color: white;

}
#impbtn #inpbtn::placeholder{
    color: white;
}