*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}   
 
#navbar{
    height: 80px;
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
   
 }
#navbar img{
    height: 60px;
    width: 120px;
    z-index: 1;
    color: red;
    
}
#bgmain{ 
    background-image: url(background.jpg);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   flex-direction: column;
   padding: 0px 80px 0px 80px ;
   
}
#back{
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 70%;
   
}
   
#text{
    font-size: larger;
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
    z-index: 1;
    color: white;
   

}
#text2{
    z-index: 1;
    color: white;
    font-family:Arial, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
}

#nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
    
#impbtn{
    display: flex;
    gap: 5px;
}
#navbar select{
   height: 30px;
   width: 100px;
   background-color: rgba(0, 0, 0, 0);
   border-color: 1px solid white;
   border-radius: 5px;
   color: white;
}
#nav-btn .btn1{
    height: 30px;
    border: none;
    width: 60px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#impbtn #inpbtn{
    width: 200px;
    height: 40px;
    border-radius:5px;
   border: 1px solid white;
   background-color: rgba(0, 0, 0, 0.536);
   padding: 0%;
   padding-left: 10px;
   color: white;
   
}
#impbtn #btn2{
    border-radius: 5px;
    border: none;
    width: 80px;
    background-color: red;
    color: white;

}
#impbtn #inpbtn::placeholder{
    color: white;
}
#text2 #para2{
    font-size: small;
}
#bg-main2{
    height: auto;
    width: 100%;
    background-color: black;
    position: relative;
}
#section-now{
    height: 60px;
    width: 100%;
    /* background-color: rgba(10, 10, 154, 0.733); */
   border-top-left-radius: 20%;
   border-top-right-radius: 20%;
   border: 2px solid red;
   border-left: none;
   border-right: none; 
   border-bottom: none;
   background: linear-gradient(
    to bottom,
    #1917789d,#090505
  );
 display: flex;
 justify-content: start;
 align-items: center;
 color: white;
}
#curvbox{
    top: 100px;

}
#bg-main2 #section-now h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 80px;
}

#mainslide{
    height: auto;
    width: 100%;
   padding: 0px 80px 0px 80px;;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  
}
.cards{
    height: 250px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    object-fit: cover;  
}
#slides{
 display: grid;
 grid-template-columns: repeat(9,200px);
 overflow-x: scroll;
 scrollbar-width: none;
 gap: 20px;
}
#angels{
   color: white;
   display: flex;
   width: 100%;
   height: 40px;
   justify-content: space-between;
   position: absolute;
   top: 100px;
   padding: 40px;
  object-fit: contain;
  
   
   
}
#angels i{
    font-size: larger;
    cursor: pointer;
}
#boxbar{
    height: auto;
    width: 100%;
  padding: 0px 80px 0px 80px;

}
#boxbar h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
   
    
}
#boxs .boxes{
    height: 300px;
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    
}
#boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;

}
.cards:hover{
   transform: scale(0.9);
}